.container{
  width:100vw;
  margin:-8px;
}
#headertxt{
  position: absolute;
  top:3vh;
  left: 0;
  z-index: 2;
  width: 60vw;
  font-size: 2vw;
  text-align: center;
  color: dimgrey;
  padding:60px 0 0 20px;
  -webkit-animation: slide-rotate-ver-l-bck 3.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: slide-rotate-ver-l-bck 3.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
#byjohn{
  position: absolute;
  top:3vh;
  left: 60vw;
  z-index: 2;
  width: 80vw;
  font-size: 3vw;
  color: dimgrey;
  padding:50px;
  -webkit-animation: slide-in-bck-center 8.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
	        animation: slide-in-bck-center 8.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}

.workex{
  color: dodgerblue;
  display: flex;
  width: 100vw;
}
.workex img{
  width:80%;
}
.details{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #51A2DB;
  color: beige;
  
}
.section{
  display: flex;
  flex-direction: column;
  padding:3vw;
  font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center;
  align-items: center;
}
.section h1{
  font-size: calc(32px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.section li{
  display: flex;
  align-items: flex-start;
  padding:10px 0 10px 0;
}

.footer{
  display: flex;
  height: 30vh;
  width: 100vw;
  background-color: rgb(7, 13, 14);
  color: antiquewhite;
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
}
.footerdiv{
  display: flex;
  width: 50vw;
  flex-direction: column;
}

header{
 
          background-color: #ffffff;
          width: 100vw;          
          background-image: url("../assets/img/headergithub.jpg");
          background-repeat: no-repeat;
          background-size: 100vw;
          padding: 0px;
          z-index: 0;    
}
#particles-js{
  display: flex;
  top:0;
  left: 0;
  z-index: 1;
  width: 80vw;
  
  
}



@keyframes slide-rotate-ver-l-bck {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(100);
            transform: translateX(0) translateZ(0) rotateY(100);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
  100% {
    -webkit-transform: translateX(50px) translateZ(-230px) rotateY(420deg);
            transform: translateX(50px) translateZ(-230px) rotateY(360deg);
    -webkit-transform-origin: center left;
            transform-origin: center left;
            color: #51A2DB;
            -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 8vw;
  }
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
    color: white;
  }
}

@media screen and (min-width: 600px) {
  .section {
    width: 100vw;
    
  }
}

@media (orientation: portrait) {
  .section {
    width: 100vw;
  }
  .details{
    flex-direction: column;
  }
}